@import "tailwindcss";

/* estilos globais opcionais */
html, body, #root { height: 100%; }
body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
}

/* a classe .input que o protótipo usa */
.input{
  width:100%;
  border:1px solid #E2E8F0;
  border-radius:0.75rem;
  padding:0.5rem 0.75rem;
  outline:none
}
.input:focus{
  box-shadow:0 0 0 6px rgba(59,130,246,0.12);
  border-color:#93C5FD
}
